<%= form_for @campaign, html: { multipart: true } do |f| %>
  <% if @campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% @campaign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row" id="create_form">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-body" id="form_panel_body">
        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :image, autocomplete: "on", class: "form-control"   %>
        </div>
        <div class="form-group">
          <%= f.label :campaign_video %>
          <%= f.text_field :video_url, class: "form-control"   %>
          <p>The most important thing about project videos? Making one. Projects with a video have a much higher chance of success. It doesn't need to be an Oscar contender, just be yourself and explain what you want to do. For helpful tips and a dose of inspiration, check out our post on making an awesome project video</p>
        </div>
        <div class="form-group">
          <%= f.label :blurb %>
          <%= f.text_area :blurb, class: "form-control"   %>
          <p>If you had to describe what you're creating in one tweet, how would you do it?</p>
        </div>
         <div class="form-group">
          <%= f.label :description %>
          <%= f.text_field :description, class: "form-control"   %>
          <p>Use your project description to share more about what you’re raising funds to do and how you plan to pull it off. It’s up to you to make the case for your project.</p>
        </div>
        <div class="form-group" id="form_submit">
          <%= f.submit "Submit", class: "btn btn-primary btn-lg"  %>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>
