<h1>Discover the hottest new flavors</h1>

  <div id="campaigns" class="transition-enabled">
    <% @campaigns.each do |campaign| %>
        <div class="box panel panel-default" id="index_box">
          <%= link_to image_tag(campaign.image.url(:medium)), campaign %>
          <div class="panel-body">
            <strong><%= campaign.blurb %></strong><br/>
            By <%= campaign.user.name if campaign.user %><br/><br/>
            <%= campaign.description %><br/><br/>

      









              <% if campaign.user == current_user %>
                <div class="actions">
        	        <%= link_to 'Edit', edit_campaign_path(campaign) %>
        	        <%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              <% end %>
          </div>
        </div>
    <% end %>
  </div>

<br>
<% if user_signed_in? %>
	<%= link_to 'New Campaign', new_campaign_path %>
<% end %>

