<div class="row" id="show_heading">
	<div class="col-md-offset-3 col-md-6">
		<strong><h1><%= @campaign.project_title %></h1></strong>
        <h4>By <%= @campaign.user.name if @campaign.user %></h4>
    </div>
</div>

<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<div class="panel panel-default">
			<div class="panel-heading" id="show_panel_heading">
				<div class="row">
					<div class="col-xs-8 pagination-centered" style='min-width: 622px;'>
							<%= @campaign.video_url_html %>
					</div>
					<div class="col-xs-4" id="show_sidebar" style='min-width: 311px;'>
							<strong><h1>100</h2></strong>
							backers<br>
							<strong><h1>$2,020</h2></strong>
							pledged of $5000 goal<br>
							<strong><h1>10</h2></strong>
							days to go<br><br>
							<div class="progress">
							    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
								<span class="sr-only">20% Complete</span>
								</div>
							</div>
							<p>
								<%= link_to "Back This Campaign", new_user_registration_path, class: "btn btn-success btn-lg" %>
							</p>
					</div>
				</div>
			</div>

			<div class="panel-body">
				<p>
					<strong>Description:</strong><br/>
						<%= @campaign.description %><br/>
					</p>
					<% if @campaign.user == current_user %>
						<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
					<% end %>
					<%= link_to 'Back', campaigns_path %>
			</div>
		</div>
	</div>
</div>


