<%= image_tag @campaign.image.url(:medium) %>

<p>
  <strong>Description:</strong>
  <%= @campaign.description %><br/>
  <%= @campaign.blurb %>
</p>
<% if @campaign.user == current_user %>
	<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<% end %>
<%= link_to 'Back', campaigns_path %>
